html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

/* navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: #0000ff; /* Ubah warna teks menjadi biru gelap */
	padding: 20px;
	display: flex;
	justify-content: center; /* Pusatkan teks horizontal */
	align-items: center; /* Pusatkan teks vertikal */
	z-index: 100;
	transform-style: preserve-3d;
	box-sizing: border-box;
	--cbz: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  /* Hapus garis bawah pada tautan */
  .navbar a {
	text-decoration: none;
	color: #f55d5d; /* Ubah warna tautan menjadi biru gelap */
	margin: 0 10px; /* Beri jarak antara tautan */
	font-size: 20px; /* Ubah ukuran tulisan sesuai kebutuhan Anda */

  }
  
  /* Gaya tengahkan teks di navbar */
  .nav-center {
	display: flex;
	align-items: center;
  }
  /* Gaya isi konten */
.content {
  margin-top: 80px; /* Berikan margin atas agar isi konten tidak terlalu mengenai navbar */
  padding: 20px; /* Berikan padding agar konten tetap terlihat baik */
}
  
